{% extends "layout.html" %}
        {% block content %}
        <p>nichify: the Spotify niche artist finder</p>
        <form action="/" method="post">
            <input type="text" name="nichify_artist" placeholder="lfg">
            <button type="submit">nichify</button>
        </form>

        {% if results %}
        <h2>Recommendations for {{ results[0]['name'] }} ({{ results[0]['followers']['total'] }} followers):</h2>
        <h3>(each tier will have less followers)</h3>
        <!-- TODO: Recursive listing - will require backend work -->
        <ul>
            {% for result in results[1:] %}
                <li>
                    <a href={{ result['external_urls']['spotify'] }} target="_blank" rel="noreferrer noopener"> {{ result['name'] }} </a>
                    | {{ result['followers']['total'] }} followers
                    <ul>
                        {% if not result['genres'] %}
                            <li>No genres found</li>
                        {% else %}
                            <li>Genres: 
                                {% for genre in result['genres'] %}
                                    {% if loop.last %}
                                        {{ genre }}
                                    {% else %}
                                        {{ genre }}, 
                                    {% endif %}
                                {% endfor %}
                            </li>
                        {% endif %}
                    </ul>
                </li>
                <br>
            {% endfor %}
        </ul>
        {% else %}
            <h2>Put a Spotify ID above (ex. 0rFHElzeddB9ymDjgpBENX is Lamp - try it!)</h2>
        {% endif %}
{% endblock %}
